<naviga></naviga>
  
<div class="container">
  <section class="comment-list">
      <label for="filter">Search comments</label>
      <input id="filter" type="text" name="filter" ng-model="search.name">
      
      <div class="container-article" ng-repeat="comment in vm.data.comments | filter:search:strict">
        <article class='row'>
        <div class="col-md-2 col-sm-2 hidden-xs">
          
          <figure class="thumbnail">
            <img class="img-responsive" src="http://www.tangoflooring.ca/wp-content/uploads/2015/07/user-avatar-placeholder.png" />
            <figcaption class="text-center">username</figcaption>
          </figure>
          
        </div>
        <div class="col-md-10 col-sm-10">
          
          <div class="panel panel-default arrow left">
            <div class="panel-body">
              <header class="text-left">
                <div class="comment-user"><i class="fa fa-user"></i>{{ comment.name }}</div>
                <time class="comment-date" datetime="16-12-2014 01:05">
                    <i class="fa fa-clock-o"></i> {{ comment.date }}</time>
              </header>
              <div class="comment-post">
                <p>
                  {{ comment.comment }}
                </p>
              </div>
              <form class="navbar-form navbar-left"  method="post">
                <div class="form-group">
                  <input class="form-control hidden" type="text" value="{{comment._id}}" name="_id"/>
                </div>
                <button class="btn btn-default" id="delete" type="Submit">Delete</button>
              </form>
            </div>
          </div>

        </div>
        </article>
        </div>

  </section>
  
  <div class="container">
    <div class="widget-area no-padding blank">
        <div class="status-upload">
            <form id="commentForma" method="post" role="form">
                <div class="form-group"><label for="username">Name:</label><input class="form-control" type="text" name="name" id="name" /></div>
                <div class="form-group"><label for="comment">Comment:</label><textarea class="form-control" rows="5" name="comment" id="comment"></textarea></div>
                <div class="form-group"><label for="picupload">Upload Image</label>
                    <div class="input-group"><span class="input-group-btn"><span class="btn btn-default btn-file">Browse… <input id="imgInp" type="file"/></span></span><input class="form-control" type="text" name="pic" /></div>
                    <div><img id="img-upload" /></div>
                </div><button class="btn btn-success green" type="submit"><i class="fa fa-share"></i> Share</button></form>
        </div>
    </div>
  </div>
  <footos></footos>
  <link rel="stylesheet" type="text/css" href="/stylesheets/comments.css">
</div>